extends ../../layouts/default

block main
    if (product.title)
        h1(class="mb-4") #{product.title}
    if (product.price)
        div(class="mb-4") Gia: <b>#{product.price}$</b>

    if (product.discountPercentage)
        div(class="mb-4") Giam gia: <b>#{product.discountPercentage}%</b>
    if (product.stock)
        div(class="mb-4") Con lai: <b>#{product.stock}</b>
    if (product.thumbnail)
        div(class="mb-4")
            img(
                src=product.thumbnail
                style="width: 100px"
            )
    if (product.status)
       div(class="mb-4")
            span Trang thai:
            if (product.status === "active")
                span(class="badge text-bg-success") Hoat dong
            else
                span(class="badge text-bg-danger") Dung hoat dong
    if (product.position)
        div(class="mb-4") Vi tri: <b>#{product.position}</b>
    if (product.description)
        div(class="mb-4")  !{product.description}
    a(
        href=`${prefixAdmin}/products/edit/${product.id}`
        class="btn btn-warning"

        ) Chinh sua
    script(src="/admin/js/product.js")