extends ../../layouts/default
include ../../mixin/alert
block main
    +alert-error(3000)
    +alert-success(3000)
    h1(class="mb-4") Chinh sua san pham

    form(
        action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
        id="form-edit-product"
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tieu de
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
                value=product.title
            )
        div(class="form-group")
            label(for="desc") Mo ta
            textarea(
                class="form-control"
                id="desc"
                name="description"
                rows="5"
            ) #{product.description}
        div(class="form-group")
            label(for="price") Gia
            input(
                type="number"
                class="form-control"
                id="price"
                name="price"
                value=product.price
                min="0"
            )
        div(class="form-group")
            label(for="discount") % Giam gia
            input(
                type="number"
                class="form-control"
                id="discount"
                name="discountPercentage"
                value=product.discountPercentage
                min="0"
            )
        div(class="form-group")
            label(for="stock") So luong
            input(
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                value=product.stock
                min="0"
            )
        div(class="form-group"
            upload-image
        )
            label(for="thumbnail") Anh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            img(
                src=product.thumbnail
                upload-image-preview
                class="image-preview"
            )
        div(class="form-group")
            label(for="position") vitri
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tu dong Tang"
                min="1"
                value=product.position
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(product.status == "active" ? true : false)
            )
            label(for="statusActive" class="form-check-label") Hoat dong
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="active"
                checked=(product.status == "inactive" ? true : false)
            )
            label(for="statusInActive" class="form-check-label") Dung hoat dong
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            )   Cap nhat
    script(src="/admin/js/script.js")
    script(src="/admin/js/product.js")