extends ../../layouts/default
include ../../mixin/filterStatus
include ../../mixin/search
include ../../mixin/pagination
include ../../mixin/form-change-multi
include ../../mixin/sort
include ../../mixin/moment
block main
    if(messages.success)
        .message.inner-foot
            div(
                class="alert alert-success"
                data-time="3000"
                show-alert
            ) #{messages.success}
    h1 Danh sach san pham
    if(role.permissions.includes("products_view"))
        .card.mb-3
            .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-6
                        +filter-status(filterStatus)
                    .col-6
                        +search(keyword)
        .card.mb-3
            .card-header Sap xep
            .card-body
                .row
                    .col-4
                        +sort()
        .card.mb-3
            .card-header Danh sach
                .card-body
                    .row
                        .col-8
                            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                        .col-4
                            if(role.permissions.includes("products_create"))
                                a(
                                    href=`${prefixAdmin}/products/create`
                                    class="btn btn-outline-success"
                                ) + Them moi
                    table(
                        class="table table-hover table-sm"
                        checkbox-multi
                    )
                        thead
                            tr
                                th
                                    input(type="checkbox" name="checkall")
                                th STT
                                th Hinh anh
                                th Tieu de
                                th Gia
                                th Vi tri
                                th Trang thai
                                th Nguoi tao
                                th Nguoi cap nhat
                                th Hanh dong
                        tbody
                            each item, index in products
                                tr
                                    th
                                        input(
                                            type="checkbox"
                                            name="id"
                                            value=item.id
                                        )
                                    td #{pagination.limitItem *(pagination.currentPage -1) + (index +1)}
                                    td
                                        img(
                                            src=item.thumbnail
                                            alt=item.title
                                            width="100px"
                                            height="auto"
                                        )
                                    td #{item.title}
                                    td #{item.price}$
                                    td
                                        input(
                                            type="number"
                                            value=item.position
                                            style1="witdth: 60px"
                                            min="1"
                                            name="position"
                                        )
                                    td
                                        if(item.status == "active")
                                            a(
                                                href="javascript:;"
                                                data-status="active"
                                                data-id=item.id
                                                button-change-status
                                                class="btn btn-success btn-sm ml-1"
                                            ) Hoat dong
                                        else
                                            a(
                                                href="javascript:;"
                                                data-status="inactive"
                                                data-id=item.id
                                                button-change-status
                                                class="btn btn-danger btn-sm ml-1"
                                            ) Dung hoat dong
                                    td
                                        p #{item.accountFullName}
                                        +formatDateTime(item.createdBy.createAt)
                                    td
                                        - const updateBy = item.updateBy.slice(-1)[0];
                                        if(updateBy)
                                            p #{item.accountFullName}
                                            +formatDateTime(updateBy.updateAt)
                                    td
                                        a(
                                            href=`${prefixAdmin}/products/detail/${item.id}`
                                            class="btn btn-secondary btn-sm ml-1"
                                        ) Chi tiet
                                        if(role.permissions.includes("products_edit"))
                                            a(
                                                href=`${prefixAdmin}/products/edit/${item.id}`
                                                class="btn btn-warning btn-sm ml-1"
                                            ) Sua
                                        if(role.permissions.includes("products_delete"))
                                            button(
                                                class="btn btn-danger btn-sm ml-1"
                                                data-id = item.id
                                                button-delete) Xoa
        +pagination(pagination)

        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/products/change-status`
        )

        form(
            action=""
            method="POST"
            id="form-delete-item"
            data-path=`${prefixAdmin}/products/delete`
        )
    script(src="/admin/js/script.js")
    script(src="/admin/js/product.js")





