mixin form-change-multi(path)
    form(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start
            .form-group
                select(name="type" class="form-control")
                    option(disabled selected) -- Chon hanh dong --
                    option(value="active") Hoat dong
                    option(value="inactive") Dung hoat dong
                    option(value="delete-all") Xoa tat ca
            .form-group
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                )
            button(type="submit" class="btn btn-primary") Ap dung