extends ../../layouts/default
include ../../mixin/alert
include ../../mixin/select-tree
block main
    +alert-error(3000)
    h1(class="mb-4") Them moi danh muc san pham
    if(role.permissions.includes("products-category_create"))
        form(
            action=`${prefixAdmin}/products-category/create`
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="title") Tieu de
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )
            div(class="form-group")
                label(for="title") Danh muc cha
                select(
                    name="parent_id"
                    id="parent_id"
                    class="form-control"
                )
                    option(value="") -- Chon danh muc cha --
                    if(records)
                        +select-tree(records)
            div(class="form-group")
                label(for="desc") Mo ta
                textarea(
                    class="form-control"
                    id="desc"
                    name="description"
                    rows="5"
                )
            div(class="form-group"
                upload-image
            )
                label(for="thumbnail" ) Anh
                br
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                img(
                    src=""
                    upload-image-preview
                    class="image-preview"
                )
            div(class="form-group")
                label(for="position") vitri
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="Tu dong Tang"
                    min="1"
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                )
                label(for="statusActive" class="form-check-label") Hoat dong
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="active"
                    checked
                )
                label(for="statusInActive" class="form-check-label") Dung hoat dong
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                )   Tao moi
    script(src="/admin/js/script.js")
    script(src="/admin/js/product.js")