.sider
    .inner-menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`) Tong quan
                if(role.permissions.includes("products-category_view"))
                    a(href=`${prefixAdmin}/products-category`) Danh muc san pham
                if(role.permissions.includes("products_view"))
                    a(href=`${prefixAdmin}/products`) Danh sach san pham
                if(role.permissions.includes("roles_view"))
                    a(href=`${prefixAdmin}/roles`) Nhom quyen
                if(role.permissions.includes("roles_permissions"))
                    a(href=`${prefixAdmin}/roles/permissions`) Phan quyen
                if(role.permissions.includes("accounts_view"))
                    a(href=`${prefixAdmin}/accounts`) Danh sach tai khoan
                if(role.permissions.includes("trashs_view"))
                    a(href=`${prefixAdmin}/trash`) Thung rac
